* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #dfdfdf;
    color: #333;
}

/* Cabeçalho */
header {
    background: #28282c;
    color: #fff;
    padding: 1rem 0;
    padding-bottom: 0.2rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

/* Navegação */
nav {
    background: #42414d00;
    padding: 0.4rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #ffffff;
    left: 0;
    bottom: -2px;
    transition: width 0.5s ease;
}

nav ul li a:hover::after {
    width: 100%;
}
main{
    display: flex;
    margin: 30px;
    justify-content: center;
}
section{
    display: flex;
    width: 800px;
    height: 500px;
    justify-content: center;

    border: solid 1px #ff00006e;
}

div #resultado{
    display: flex;
    margin: auto;
    margin: 20px;
    width: 600px;
    height: 300px;
    border: solid 1px #ff00006e;
}
#placar{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#game{
    display: flex;
    justify-content: center;
    gap: 20px;

}
#game button{
    width: 80px;
    height: 50px;
}